# Slack credentials
SLACK_BOT_TOKEN=xoxb-5...
SLACK_APP_TOKEN=xapp-1-A08...

# Snowflake service user + key-pair + programmatic access token (PAT is only for REST call to /api/v2/cortex/analyst/message)
SNOWFLAKE_USER=dataagent_user
SNOWFLAKE_ACCOUNT=<your account name>
SNOWFLAKE_PRIVATE_KEY_PATH=rsa_private_key.pem
SNOWFLAKE_PAT=eyJra...

# Semantic model in your stage
SF_DATABASE=AICOLLEGE
SF_SCHEMA=PUBLIC
SF_ROLE=AICOLLEGE
SF_WAREHOUSE=AICOLLEGE
SF_STAGE=TRANSCRIPTS
SF_MODEL_FILE=data_agent_semantic_model.yaml
